<!-- Page Content -->

<div class="container">

   
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Competitions
                <small>listes</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Acceuil</a>
                </li>
                <li class="active">Compétitions</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Que souhaitez-vous ?</h2>
        </div>

        <div class="col-sm-4">
            <a href="#competitions/inscription">
            <img class="img-responsive" src="img/inscri.jpg" >
            <h3>Insciption</h3>
            <p>Inscivez-vous maintenant</p>
            </a>
        </div>

        <div class="col-sm-4">
           <a href="#competitions/participants/F">
            <img class="img-responsive" src="img/femme.png" >
            <h3>Lister les participantes</h3>
            <p>participantes aux competitions</p>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="#competitions/participants/M">
            <img class="img-responsive" src="img/homme.png" >
            <h3>Lister les participants</h3>
            <p>participants aux competitions</p>
            </a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
