<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Inscription
                <small>Veillez remplir la fiche pour vous inscrire!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Acceuil</a></li>
                <li><a href="#/competitions">compétitions</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>


    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-8">
            <h3>Allez-y</h3>

            <p>Veillez à bien respecter les differents champs de saisie; remplissez tous les champs avec des valeurs correctes si non vous encourez de ne pas etre enregistrer à la competitions</p>

            <form role="form" ng-submit="env()">
                
                <div class="row" >
                    <div class="form-group col-lg-4">
                        <label for="nom">Nom : </label>
                        <input type="text" ng-model="Pnom" class="form-control" id="nom">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="Pnom">Prenom : </label>
                        <input type="text" ng-model="PPnom" class="form-control" id="Pnom">
                    </div>
                     <div class="form-group col-lg-4">
                        <label for="personne_sex">Sex: </label> </br>
                        <INPUT type="radio" ng-model="Psex" value="H" checked id="Homme"> Homme 
                        <INPUT type="radio" ng-model="Psex" value="F" id="Femme"> Femme
                     </div>
                    <div class="form-group col-lg-6">
                        <label for="date">Date de Naissance: </label>
                        <input type="date" ng-model="Pdate" class="form-control" id="date">
                        <div class="{{al}}" role="{{al1}}">{{alerte}}</div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="certif">Certificat Medical: </label>
                        <input type="file" ng-model="Pcertif" class="form-control" id="certif">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-3">
                        <label for="confirm">J'acceptes les regles de la competition: </label>
                        <INPUT type="checkbox" ng-model="Pconfirmation" class="form-control" id="confirm">
                    </div>
                    <div class="form-group col-lg-12">
                        <button type="submit" class="btn btn-primary" ng-submit="env()">Soumettre</button>
                    </div>
                    <div class="form-group col-lg-12">
                        <button type="reset" class="btn btn-secondary" >Annuler</button>
                    </div>
                
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <h3>Tennis Club de Buc</h3>
            <h4>Nouveau centre de Tennis</h4>

            <p>
                2 rue Ibn Roouchd.<br>
                Tunis, 32323<br>
            </p>

            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (216) 984-3600</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:clubdeBuc@tennis.com">ClubDeBuc@tennis.com</a></p>

            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->
